<%= form_tag(dashboard_battle_url, method: :post, remote: true) do %>
<div class="row counter-display">
  <% current_user.hashtags.each do |hashtag| %>
    <div class="col-sm-6">
      <div class="hero-widget well well-sm">
          <div class="icon">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <div class="text">
            <var id="<%= hashtag.name[1..-1] %>_counter"><%= hashtag.count %></var>
            <label class="text-muted"><%= hashtag.name %></label>
          </div>
        </div>
    </div>
  <% end %>
  <div class="container text-center">
    <span class="battle-time-option <%= current_user.connected ? 'show' : 'hide' %>">
      <%= link_to "Stop Battle", dashboard_terminate_battle_path, class: "btn btn-lg btn-danger", remote: true %>
    </span>
    <span class="intial-battle <%= current_user.connected ? 'hide' : 'show' %>">
      <%= submit_tag "Battle!", class: "btn btn-lg btn-primary", id: 'start-battle' %>
      <%= link_to "Reset Counter", dashboard_reset_counters_path, class: "btn btn-lg btn-info",id: 'reset-counter', remote: true %>
      <%= link_to "Edit Hashtags", edit_user_path(current_user), class: "btn btn-lg btn-info",id: 'reset-counter'%>
    </span>
  </div>
<% end %>
